<header>
  <nav id="header">
      <a class="nav home-button" href="#"><i class="fa fa-home"></i></a>

      <div class="nav-menu">
        {{#if loggedIn}}
        <a class="nav" href="#/projects">Projects</a>
        <a class="nav" href="#/tasks">My tasks</a>
        {{#ifContains roles "ADMIN"}}
        <a class="nav" href="#/users">Users</a>
        <a class="nav" href="#/logs">Logs</a>
        {{/ifContains}}
        <div  class="logout-menu"><a class="nav" href="#/profile">{{username}}</a>|<a href="#/logout">Logout</a></div>
        {{/if}}
      </div>

  </nav>
</header>
