<section id="tasks" class="bigView">
  <div class="row my-tasks">
    <h1>My tasks</h1>
    <hr></hr>
    <div class="table-responsive">
    <table class="table table-striped table-hover  table-condensed">
      <thead class="thead-dark">
        <tr>
          <th>User</th>
          <th>Activity</th>
          <th>Time of occurance</th>
        </tr>
      </thead>
      <tbody>
        {{#each logs}}
          <tr>
            <td>{{user}}</td>
            <td>{{activity}}</td>
            <td>{{timeOfOccurrence}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  </div>

  {{#ifContains roles "MANAGER"}}
  <div class="row all-tasks-active">
    <h1>All active tasks</h1>
    <hr></hr>
  </div>

  <div class="row all-tasks-finished">
    <h1>All finished tasks</h1>
    <hr></hr>
  </div>
  {{/ifContains}}
</section>
