<div class="projectPreview {{active}} col-sm-5">
  <h1>{{projectName}}</h1>
  <h3>Manager:</br> {{manager}}</h3>
  <a href="#/projects?projectName={{projectName}}" class="button">Project profile</a>
</div>
