<section>
  <form id="loginForm" action="#/login" method="post">
    <h2>Your credentials</h2>
    <div class="form-group">
      <label>Username:</label>
      <input name="username" type="text"/>
    </div>
    <div class="form-group">
      <label>Password:</label>
      <input name="password" type="password"/>
    </div>
    <input class="form-button" id="btnLogin" value="Login" type="submit"/>
  </form>
</section>
