header {
   position: fixed;
    top: 0;
    width: 100%;
    min-height: 55px;
    background: #1ABC9C;
    text-align: right;
    border-bottom-style:solid;
    border-bottom-color: grey;
}

.logo, .header {
    font-size: 2.5em;
}

#header {
    display: inline;
    margin: 0 auto;
    width: 200px;
    min-height: 50px;
}


.home-button {
  position: fixed;
  left: 0;
  float:left;
  width: 40px;
  text-align: center;
}

.nav {
    font-size: 1.25em;
    display:inline-block;
    text-decoration: none;

    padding: 15px 10px;
    border-radius: 5px;
    color: #ffffff;
}

.logout-menu{
  background: #1ABC9C;
  position: absolute;
  right: 0;
  padding: 0 10px 10px 10px;
  border-radius: 0 0 0px 10px;
  border-left-color: grey;
  border-left-style: solid;
  border-left-width: thin;
  border-bottom-style: solid;
  border-bottom-color: grey;
  border-bottom-width: thin;
}

.logout-menu span,.logout-menu a{
    padding: 0 10px 0 10px;
}
