<section id="viewWelcome">
  <div class="welcome">
      <h3>Welcome to the</h3>
      <h1>Maintenance Manager</h1>
      <a href="#/login"><button class="btnLogin" type="button" name="Login">Login</button></a>
      <a href="#/register"><button class="btnRegister" type="button" name="Login">Register</button></a>
  </div>
</section>
